<div class="splash_container">



<div class="">
    <h1 class="splash_title center">Project tracker</h1>
</div>


<div class="splash_buttons">
  <%= link_to "LOG IN", new_user_session_path, :class => "splash_button splash_blue" %>
  <%= link_to "SIGN UP", new_user_registration_path, :class => "splash_button splash_white" %>


</div>



</div>
